<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shouyiren.bbcamera">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.dw.bcamera.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DIST_CHANNEL"
            android:value="${DIST_CHANNEL_VALUE}"/>

        <activity
            android:name="com.dw.bcamera.BaoStartPageActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dw.bcamera.camera.SimpleCameraActivity1_"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.mv.MVActivity_"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.videotrim.VideoTrimActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.photoeffect.BaoPhotoEffectActivity_"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.dw.bcamera.photoeffect.TextEditActivity_"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.dw.bcamera.setting.H5PageActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1104642799"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dw.videoclipper.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.setting.SettingActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.SaveResultActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.setting.FeedbackActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.setting.AboutActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay"/>
        <activity
            android:name="com.dw.bcamera.share.RequestMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.dw.bcamera.mediapicker.MediaPicker"
            android:screenOrientation="portrait"
            android:theme="@style/bcamera_theme_main"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.dw.bcamera.sticker.StickerAddActivity_"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/bcamera_theme_main"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.dw.bcamera.setting.PolicyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.photopuzzle.PhotoPuzzleActivity_"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dw.bcamera.photopuzzle.PuzzleTemplateActivity_"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
